<div class="container">
		<h1><%= @event.title %> - <%= @event.venue %></h1>
		<hr>
		<small><%= @event.date %></small>
		<%= link_to "Edit", edit_event_path(@event) if !current_user.nil? && current_user.admin?  %>

		<p><%= simple_format(@event.content )%></p>


	<div class="row">
		<div class="col-md-10 offset-md-1 col-12 ">
			<div id="event_gallery">
				<% @event.pictures.each_with_index do |event, index| %>
					<%= render "images" , event: event, index: index %>
				<% end %>
			</div>
		</div>
	</div>
</div>

	<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

		<div class="pswp__bg"></div>

		<div class="pswp__scroll-wrap">

			<div class="pswp__container">
				<div class="pswp__item">
				</div>
				<div class="pswp__item">
				</div>
				<div class="pswp__item">
				</div>
			</div>


			<div class="pswp__ui pswp__ui--hidden">

				<div class="pswp__top-bar">

					<div class="pswp__counter"></div>

					<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

					<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

					<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

					<div class="pswp__preloader">
						<div class="pswp__preloader__icn">
							<div class="pswp__preloader__cut">
								<div class="pswp__preloader__donut"></div>
							</div>
						</div>
					</div>

				</div>

				<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
					<div class="pswp__share-tooltip"></div> 
				</div>

				<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>

				<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

				<div class="pswp__caption">
					<div class="pswp__caption__center">
					</div>
				</div>

			</div>

		</div>

	</div>


