<div class="container">
	<%= link_to "Ajouter un concert", new_concert_path, class: "btn btn-primary"  if !current_user.nil? && current_user.admin? %>
	<br><br>
	<div class="row">
		<% @tour.concerts.each do |concert| %>
			<div class="col-6 col-md-4">
				<%= link_to  concert_path(concert) do %>
					<div class="hvrbox">
						<%= image_tag(concert.attachments.first.url,  class: "hvrbox-layer_bottom" )%>
						<div class="hvrbox-layer_top hvrbox-layer_slideright">
							<div class="hvrbox-text">
								<h3><%= concert.city %></h3>
								<p><%= concert.date %></p>
							</div>
						</div>
					<% end %>
					</div>
			</div>
		<% end %>
	</div>

</div>