<% if current_user.admin? %>
<div class="container">
	<%= simple_form_for(@concert) do |f| %>
		<div class="row">
			<div class="col-6">
				<%= f.input :tour_id, collection: Tour.all.collect {|t| [t.title, t.id]}, label: false, prompt: "Tour", required: true %>
			</div>
			<div class="col-6">
				<%= f.input :date, label: false, placeholder: "Date du concert", required: true %>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<%= f.input :city, label: false, placeholder: "Ville du concert", required: true %>
			</div>
			<div class="col-6">
				<%= f.input :venue, label: false, placeholder: "Lieu du concert", required: true %>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<%= f.input :content, label: false, placeholder: "Résumé du concert", input_html: {rows: 5} %>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<%= f.file_field :attachments, multiple: true %>
			</div>
		</div>



 		<div class="row">
 			<div class="col-4">
 				<br>
	 			<div id="videos">
	 			  <%= f.simple_fields_for :videos do |video| %>
	 		      <%= render "video_fields", f: video %>
	 		    <% end %>
	 		   	<div class="links">
	 		     	<%= link_to_add_association "Ajouter une vidéo", f, :videos, partial: "video_fields", class: "btn btn-secondary btn-block" %>
	 		   	</div>
	 			</div>
 			</div>
 		</div>
 	

		<div class="row">
			<div class="col-12">
				<br>
				<br>
				<br>
				<%= f.submit "Valider", class: "btn btn-success btn-block" %>
			</div>
		</div>
	<% end %>

</div>

<% else %>
	<p>Naaaa pas le droit !! </p>
<% end %>